### pandas의 Series와 DataFrame의 이해

1차원, 1개의 column은 Series라고 한다.

In [3]:
import pandas as pd

In [6]:
myList = [1,2,3,4]
test = pd.Series(myList)

In [7]:
type(test)

pandas.core.series.Series

### DataFrame

In [8]:
# 방법1 : list로 만들기
company1 = [['삼성',2000,'스마트폰'],
            ['현대',1000,'자동차'],
            ['네이버',500,'포털']]

In [12]:
df1= pd.DataFrame(company1)

In [13]:
df1

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [14]:
df1.columns = ['기업명','매출액','대표제품']

In [15]:
df1

   기업명   매출액  대표제품
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [16]:
# 방법2: dict로 만들기
company2 = {'기업명':['삼성','현대','네이버'],
            '매출액':[2000,1000,500],
            '대표제품':['스마트폰','자동차','포털']
           }

In [17]:
df2 = pd.DataFrame(company2)

In [18]:
df2

   기업명   매출액  대표제품
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

### index를 특정 column으로 지정하기

In [19]:
df1

   기업명   매출액  대표제품
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [20]:
df1.index = df1['기업명']

In [21]:
df1

     기업명   매출액  대표제품
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

In [22]:
df1['매출액']

기업명
삼성     2000
현대     1000
네이버     500
Name: 매출액, dtype: int64

In [23]:
type(df1['매출액'])

pandas.core.series.Series

### CSV파일 읽어오기

In [27]:
# 컴퓨터안에 있는 로컬 파일
filePath = 'C:\\Users\\BIT_R34\\dataScience\\DataScience\\data\\01. CCTV_in_Seoul.csv'
pd.read_csv(filePath)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

### Excel파일 읽기

In [32]:
filePath = 'C:\\Users\\BIT_R34\\dataScience\\DataScience\\data\\01. population_in_Seoul.xls'
pd.read_excel(filePath)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
filePath = 'C:\\Users\\BIT_R34\\dataScience\\DataScience\\data\\01. CCTV_in_Seoul.csv'
df = pd.read_csv(filePath)

In [35]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df.head(7)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613
5  광진구   707        573     78     53    174
6  구로구  1561       1142    173    246    323

In [38]:
df.tail()

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
22  종로구  1002        464    314    211    630
23   중구   671        413    190     72    348
24  중랑구   660        509    121    177    109

In [39]:
# columns를 읽어본다
df.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [40]:
# 새로운 리스트를 만들어서
new_col = ['기관명', '소계', '2013년이전', '2014년', '2015년', '2016년']

In [41]:
# columns를 수정(업데이트)한다.
df.columns = new_col

In [42]:
df.columns

Index(['기관명', '소계', '2013년이전', '2014년', '2015년', '2016년'], dtype='object')

In [43]:
df

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [44]:
df.index

RangeIndex(start=0, stop=25, step=1)

In [48]:
# 데이터의 타입, 데이터의 갯수, null-data등에 대한 정보를 보여준다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기관명      25 non-null     object
 1   소계       25 non-null     int64
 2   2013년이전  25 non-null     int64
 3   2014년    25 non-null     int64
 4   2015년    25 non-null     int64
 5   2016년    25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [47]:
# 열 별로 통계정보를 추출해서 보여준다.
df.describe()

                소계      2013년이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [49]:
df.shape

(25, 6)

### 데이터 정렬하기

In [50]:
# 오름차순 정렬(default)
df.sort_index()

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [51]:
# 내림차순 정렬
df.sort_index(ascending=False)

     기관명    소계  2013년이전  2014년  2015년  2016년
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
22   종로구  1002      464    314    211    630
21   은평구  1873     1138    224    278    468
20   용산구  1624     1368    218    112    398
19  영등포구   904      495    214    195    373
18   양천구  2034     1843    142     30    467
17   송파구   618      529     21     68    463
16   성북구  1464     1009     78    360    204
15   성동구  1062      730     91    241    265
14   서초구  1930     1406    157    336    398
13  서대문구   962      844     50     68    292
12   마포구   574      314    118    169    379
11   동작구  1091      544    341    103    314
10  동대문구  1294     1070     23    198    579
9    도봉구   485      238    159     42    386
8    노원구  1265      542     57    451    516
7    금천구  1015      674     51    269    354
6    구로구  1561     1142    173    246    323
5    광진구   707      573     78     53    174
4    관악구  1496      846    260    390    613
3    강서구   884      388    258    184     81
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
0    강남구  2780     1292    430    584    932

In [52]:
df.sort_values(by="소계", ascending=False)

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
18   양천구  2034     1843    142     30    467
14   서초구  1930     1406    157    336    398
21   은평구  1873     1138    224    278    468
20   용산구  1624     1368    218    112    398
6    구로구  1561     1142    173    246    323
4    관악구  1496      846    260    390    613
16   성북구  1464     1009     78    360    204
10  동대문구  1294     1070     23    198    579
8    노원구  1265      542     57    451    516
11   동작구  1091      544    341    103    314
15   성동구  1062      730     91    241    265
7    금천구  1015      674     51    269    354
22   종로구  1002      464    314    211    630
13  서대문구   962      844     50     68    292
19  영등포구   904      495    214    195    373
3    강서구   884      388    258    184     81
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
5    광진구   707      573     78     53    174
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109
17   송파구   618      529     21     68    463
12   마포구   574      314    118    169    379
9    도봉구   485      238    159     42    386

In [54]:
df.sort_values(by="소계")

     기관명    소계  2013년이전  2014년  2015년  2016년
9    도봉구   485      238    159     42    386
12   마포구   574      314    118    169    379
17   송파구   618      529     21     68    463
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
5    광진구   707      573     78     53    174
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
3    강서구   884      388    258    184     81
19  영등포구   904      495    214    195    373
13  서대문구   962      844     50     68    292
22   종로구  1002      464    314    211    630
7    금천구  1015      674     51    269    354
15   성동구  1062      730     91    241    265
11   동작구  1091      544    341    103    314
8    노원구  1265      542     57    451    516
10  동대문구  1294     1070     23    198    579
16   성북구  1464     1009     78    360    204
4    관악구  1496      846    260    390    613
6    구로구  1561     1142    173    246    323
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
14   서초구  1930     1406    157    336    398
18   양천구  2034     1843    142     30    467
0    강남구  2780     1292    430    584    932

## 복수 정렬

In [59]:
# 정렬의 첫번째 기준 : 소계, 소계의 값이 같을 경우
# 두번째 기준으로 2015년 데이터를 활용한다.
df.sort_values(by=['소계','2015년'])

     기관명    소계  2013년이전  2014년  2015년  2016년
9    도봉구   485      238    159     42    386
12   마포구   574      314    118    169    379
17   송파구   618      529     21     68    463
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
5    광진구   707      573     78     53    174
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
3    강서구   884      388    258    184     81
19  영등포구   904      495    214    195    373
13  서대문구   962      844     50     68    292
22   종로구  1002      464    314    211    630
7    금천구  1015      674     51    269    354
15   성동구  1062      730     91    241    265
11   동작구  1091      544    341    103    314
8    노원구  1265      542     57    451    516
10  동대문구  1294     1070     23    198    579
16   성북구  1464     1009     78    360    204
4    관악구  1496      846    260    390    613
6    구로구  1561     1142    173    246    323
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
14   서초구  1930     1406    157    336    398
18   양천구  2034     1843    142     30    467
0    강남구  2780     1292    430    584    932

In [63]:
df['기관명']

0      강남구
1      강동구
2      강북구
3      강서구
4      관악구
5      광진구
6      구로구
7      금천구
8      노원구
9      도봉구
10    동대문구
11     동작구
12     마포구
13    서대문구
14     서초구
15     성동구
16     성북구
17     송파구
18     양천구
19    영등포구
20     용산구
21     은평구
22     종로구
23      중구
24     중랑구
Name: 기관명, dtype: object

In [60]:
df['2014년']

0     430
1      99
2     120
3     258
4     260
5      78
6     173
7      51
8      57
9     159
10     23
11    341
12    118
13     50
14    157
15     91
16     78
17     21
18    142
19    214
20    218
21    224
22    314
23    190
24    121
Name: 2014년, dtype: int64

In [62]:
df.기관명

0      강남구
1      강동구
2      강북구
3      강서구
4      관악구
5      광진구
6      구로구
7      금천구
8      노원구
9      도봉구
10    동대문구
11     동작구
12     마포구
13    서대문구
14     서초구
15     성동구
16     성북구
17     송파구
18     양천구
19    영등포구
20     용산구
21     은평구
22     종로구
23      중구
24     중랑구
Name: 기관명, dtype: object

In [65]:
df.소계

0     2780
1      773
2      748
3      884
4     1496
5      707
6     1561
7     1015
8     1265
9      485
10    1294
11    1091
12     574
13     962
14    1930
15    1062
16    1464
17     618
18    2034
19     904
20    1624
21    1873
22    1002
23     671
24     660
Name: 소계, dtype: int64

### 데이터프레임의 범위 지정

In [67]:
df.shape

(25, 6)

In [70]:
#df.head(5)
test = df[:5]

In [71]:
test.shape

(5, 6)

### loc

In [72]:
# 모든 행의 2014년 데이터
df.loc[:,'2014년']

0     430
1      99
2     120
3     258
4     260
5      78
6     173
7      51
8      57
9     159
10     23
11    341
12    118
13     50
14    157
15     91
16     78
17     21
18    142
19    214
20    218
21    224
22    314
23    190
24    121
Name: 2014년, dtype: int64

In [76]:
# 5~10행의 2014년 데이터
# pandas의 loc는 10이하
df.loc[5:10,'2014년']

5      78
6     173
7      51
8      57
9     159
10     23
Name: 2014년, dtype: int64

In [77]:
df

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [ ]:
# 6~9 구로 금천 노원 도봉
# 기관명, 2014년, 2015년 데이터만 필요
# 데이터 프레임에 저장
# shape (4, 2)

In [87]:
needCol = ['기관명', '2014년', '2015년']
df.loc[6:9,needCol]

   기관명  2014년  2015년
6  구로구    173    246
7  금천구     51    269
8  노원구     57    451
9  도봉구    159     42

In [88]:
df.loc[6:9,'2014년':'2016년']

   2014년  2015년  2016년
6    173    246    323
7     51    269    354
8     57    451    516
9    159     42    386

### iloc (position 색인)